ReferralSystem/force-app/main/default/flows/Convert_Referral_Staging_to_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Convert Referral Staging to Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Referral Staging to Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral_Record</name>
        <label>Create Referral Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Address_Line1__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Address_Line1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line2__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Address_Line2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Customer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Phone__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Customer_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_Services_Sold__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Products_Services_Sold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Referral_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Email_Id__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Referral_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Referral_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Phone_No__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Referred_By_Phone_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requirement_Id__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Requirement_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Generated__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Revenue_Generated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Get_Referral_Staging_Records.Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Referral_Staging_Records</name>
        <label>Get Referral Staging Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Referral_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Staging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referral_Staging_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NullId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
